<div ng-controller="dashboardController">
	<!-- Header {{{ -->
	<div class="block-header">
		<h2>Dashboard</h2>
		
		<ul class="actions">
			<li>
				<a ng-click="refresh()"><i ng-class="loading || loadingSilent ? 'md md-refresh fa-spin' : 'md md-refresh'"></i></a>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown"><i class="md md-more-vert"></i></a>
				
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ng-click="refresh()">Refresh</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	<!-- }}} -->

	<div ng-if="!loading" class="card">
		<div class="card-body">
			<div line-chart line-data='chartData.data' line-xkey="y" line-ykeys="chartData.keys" line-labels="chartData.labels" line-colors="chartData.colors"></div>
		</div>
	</div>

	<div ng-if="!loading" class="row">
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-cyan">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-server"></i></div>
					<div class="count">
						<small>Servers</small>
						<h2>{{servers.length | number}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-lightgreen">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-cogs"></i></div>
					<div class="count">
						<small>Services</small>
						<h2>{{serviceCount | number}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-orange">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-wrench"></i></div>
					<div class="count">
						<small>Plugins</small>
						<h2>{{pluginCount | number}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-bluegray">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-refresh"></i></div>
					<div class="count">
						<small>Checks in the last day</small>
						<h2>{{tickCount | number}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="!loading" class="row">
		<div class="col-md-9">
			<div class="card">
				<div class="card-header"><h2>Latest Activity</h2></div>
				<div class="card-body">

					<div class="timeline">
						<!-- Timeline header -->
						<div class="timeline-header">
							<div class="timeline-header-title bg-purple">Now</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-warning"><i class="fa fa-comment fa-lg"></i></div>
								<div class="timeline-time">3 Hours ago</div>
							</div>
							<div class="timeline-label">
								<p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a></p>
								<blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-info"><i class="fa fa-envelope fa-lg"></i></div>
								<div class="timeline-time">15:45</div>
							</div>
							<div class="timeline-label">
								<h4 class="text-info text-lg">Lorem ipsum dolor sit amet</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-mint"><i class="fa fa-thumbs-up fa-lg"></i></div>
								<div class="timeline-time">13:27</div>
							</div>
							<div class="timeline-label">
								<img class="img-xs img-circle" src="img/av2.png" alt="Profile picture">
								<a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-purple"><i class="fa fa-line-chart fa-lg"></i></div>
								<div class="timeline-time">11:27</div>
							</div>
							<div class="timeline-label">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<div donut-chart donut-data="donutData.data" donut-colors="donutData.colors"></div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="lastRefresh" class="text-center text-muted">Last refresh {{lastRefresh}}</div>
</div>
