<div ng-controller="dashboardController">
	<!-- Header {{{ -->
	<div class="block-header">
		<h2>Dashboard</h2>
		
		<ul class="actions">
			<li>
				<a ng-click="refresh()"><i ng-class="loading || loadingSilent ? 'md md-refresh fa-spin' : 'md md-refresh'"></i></a>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown"><i class="md md-more-vert"></i></a>
				
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ng-click="refresh()">Refresh</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	<!-- }}} -->

	<div ng-if="!loading" class="card">
		<div class="card-body">
			<highchart config="chartConfig"></highchart>
		</div>
	</div>

	<div ng-if="!loading" class="row">
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-cyan">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-server"></i></div>
					<div class="count">
						<small>Servers</small>
						<h2>{{servers.length | number}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-lightgreen">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-cogs"></i></div>
					<div class="count">
						<small>Services</small>
						<h2>{{serviceCount | number}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-orange">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-wrench"></i></div>
					<div class="count">
						<small>Plugins</small>
						<h2>{{pluginCount | number}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-bluegray">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-3x fa-refresh"></i></div>
					<div class="count">
						<small>Checks in the last day</small>
						<h2>{{tickCount | number}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="!loading" class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header"><h2>Latest Activity</h2></div>
				<div class="card-body timeline">
					<div class="timeline-header">
						<div class="timeline-header-title">Now</div>
					</div>
					<div ng-repeat="entry in timeline track by entry._id" ng-switch="entry.status">
						<div ng-switch-when="ok" class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bgm-green text-white"><i class="fa fa-comment fa-thumbs-up"></i></div>
								<div class="timeline-time">{{entry.created | niceDate}}</div>
							</div>
							<div class="timeline-label">
								<a href="#/servers/{{entry.server._id}}">{{entry.server.name || entry.server.address || 'Untitled'}}</a> came back up
							</div>
						</div>
						<div ng-switch-when="warning" class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bgm-amber text-white"><i class="fa fa-comment fa-exclamation-triangle"></i></div>
								<div class="timeline-time">{{entry.created | niceDate}}</div>
							</div>
							<div class="timeline-label">
								<a href="#/servers/{{entry.server._id}}">{{entry.server.name || entry.server.address || 'Untitled'}}</a> entered a warning state
							</div>
						</div>
						<div ng-switch-when="danger" class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bgm-red text-white"><i class="fa fa-comment fa-thumbs-down"></i></div>
								<div class="timeline-time">{{entry.created | niceDate}}</div>
							</div>
							<div class="timeline-label">
								<a href="#/servers/{{entry.server._id}}">{{entry.server.name || entry.server.address || 'Untitled'}}</a> went down
							</div>
						</div>
						<div ng-switch-when="error" class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bgm-purple text-white"><i class="fa fa-comment fa-exclamation-circle"></i></div>
								<div class="timeline-time">{{entry.created | niceDate}}</div>
							</div>
							<div class="timeline-label">
								<a href="#/servers/{{entry.server._id}}">{{entry.server.name || entry.server.address || 'Untitled'}}</a> went into an error state
							</div>
						</div>
						<div ng-switch-default class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bgm-gray text-white"><i class="fa fa-comment fa-exclamation-circle"></i></div>
								<div class="timeline-time">{{entry.created | niceDate}}</div>
							</div>
							<div class="timeline-label">
								<a href="#/servers/{{entry.server._id}}">{{entry.server.name || entry.server.address || 'Untitled'}}</a> went into an error state
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<highchart config="donutConfig"></highchart>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="lastRefresh" class="text-center text-muted">Last refresh {{lastRefresh}}</div>
</div>
