<div ng-controller="serviceListController" class="container">

	<!-- Header {{{ -->
	<div class="block-header">
		<h2>Services</h2>
		
		<ul class="actions">
			<li>
				<a ng-click="refresh()"><i ng-class="loading || loadingSilent ? 'md md-refresh fa-spin' : 'md md-refresh'"></i></a>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown"><i class="md md-more-vert"></i></a>
				
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ng-click="refresh()">Refresh</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	<!-- }}} -->

	<div class="card">
		<div class="card-body">
			<div ng-if="loading" class="alert alert-loading">
				<i class="fa fa-spinner fa-spin"></i>
				Loading service list...
			</div>
			<div ng-if="!loading">
				<div class="table-responsive">
					<table ng-if="services.length" class="table table-hover">
						<thead>
							<tr>
								<th width="50px" class="text-right">Server</th>
								<th>Name</th>
								<th width="15ex" class="text-center">Status</th>
								<th width="10ex">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="service in services | orderBy:'name' track by service._id">
								<td class="text-right"><a href="#/servers/{{service.server._id}}" class="badge bgm-black">{{service.server.name || service.server.address || 'Untitled'}}</a></td>
								<td><a href="#/services/{{service._id}}">{{service.name || service.plugin || 'Untitled'}}</a></td>
								<td ng-switch="service.status" class="text-center"><a href="#/services/{{service._id}}">
									<span ng-switch-when="ok" class="label label-table label-success">Ok</span>
									<span ng-switch-when="warning" class="label label-table label-warning">Warning</span>
									<span ng-switch-when="error" class="label label-table label-warning">Error</span>
									<span ng-switch-when="danger" class="label label-table label-danger">Danger</span>
									<span ng-switch-default class="label label-table label-info">Unknown</span>
								</a></td>
								<td class="text-center">
									<a confirm="deleteService(service)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<div ng-if="!services.length" class="alert alert-info">No services found</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="lastRefresh" class="text-center text-muted">Last refresh {{lastRefresh}}</div>
</div>
